.wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 100px;
    left: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1180px;
    max-height: 500px;
    margin-top: 80px;
    background-color: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 5px;
}

.textarea {
    color: #000000;
    font-family: inherit;
    font-size: 18px;
    margin-top: 20px;
    width: 80%;
    height: 70%;
    border: 2px solid transparent;
    transition: border 0.2s linear;
    line-height: 21px;
    outline: none;
}

.home-link {
    position: absolute;
    top: 17px;
    right: 23px;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: background-color 0.1s linear, transform 0.1s linear,
        outline 0.1s linear;
}